body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  padding: 50px;
}

img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
}
